.routes_of_america_logo{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.first_title_line{
    position: absolute;
    left: 100px;
    top: 90px;
    z-index: 2;
    rotate: -35deg;
    font-family: "Permanent Marker", cursive, sans-serif;
    font-size: 15px; 
    animation-name: bringInTitle;
    animation-duration: 3s;
}
.second_title_line{
    position: absolute;
    left: 120px;
    top: 110px;
    z-index: 1;
    rotate: -35deg;
    font-family: "Permanent Marker", cursive, sans-serif;
    font-size: 15px; 
    animation-name: bringInTitle;
    animation-duration: 3s;
    animation-delay: 1s;
}
#main_us_highway_title_image{
    width: 50vw;
    height: 60vh;
    margin-left: auto;
    margin-right: auto;
}
#numbering_system_us_highway_container{
    flex-direction: row-reverse;
    text-wrap: wrap;
}
#signage_us_highway_container{
    text-wrap: wrap;
}
#divided_us_highway_container{
    flex-direction: row-reverse;
    text-wrap: wrap;
}
#history_us_highway_container{
    text-wrap: wrap;
}
div.tablecontainer{
    overflow-x: auto;
    overflow-y: auto;
}
#us_highway_signage_history_table, td, th{
    border: 1px solid black;
    border-collapse: collapse;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
#us_highway_signage_history_table{
    width: 100%;
    height: 100%;
}
td, th{
   width: 20%;
   height: 30%; 
}
#routes_of_america_us_highway_main_content, #numbering_system_us_highway_pictures,
#divided_us_highway_pictures{
    text-wrap: wrap;
}
#first_main_us_highway_sign, #second_main_us_highway_sign, #signage_us_highway_sign, 
#US_11E_sign, #US_11W_sign, #us_highway_history_image{
    width: 20vw;
    height: 35vh;
}
#us_highway_history_image{
    filter: grayscale(60%);
}
#help_button{
    border: 10px solid black;
    margin-left: auto;
    margin-right: auto;
}
nav ul{
    list-style-type: none;
    padding: 10px 0;
}
.modal-header,
.modal-body{
    color: black;
}
a{
    color: white;
}
a:hover{
    color: orange;
}
a:visited{
    color: yellow;
}
@media (max-width: 700px){
    #numbering_system_us_highway_container, #signage_us_highway_container,
    #divided_us_highway_container, #history_us_highway_container{
        flex-direction: column;
    }
}
@media (max-width: 500px){
    #numbering_system_us_highway_pictures, #divided_us_highway_pictures{
        flex-direction: column;
    }
}
@keyframes bringInTitle{
    0% {transform: translate(1010px, 30px) rotate(0deg);}
    25% {transform: translate(400px, 30px) rotate(0deg);}
    75% {transform: translate(400px, 30px) rotate(-35deg);}
    100% {transform: translate(80px, 80px) rotate(-35deg);}
}