#routes_of_america_logo{
    position: relative;
    width: 20%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
}
.first_title_line{
    position: absolute;
    left: 80px;
    top: 80px;
    z-index: 2;
    rotate: -35deg;
    font-family: "Permanent Marker", cursive, sans-serif;
    font-size: 15px; 
    animation-name: bringInTitle;
    animation-duration: 3s;
}
.second_title_line{
    position: absolute;
    left: 80px;
    top: 100px;
    z-index: 1;
    rotate: -35deg;
    font-family: "Permanent Marker", cursive, sans-serif;
    font-size: 15px; 
    animation-name: bringInTitle;
    animation-duration: 3s;
    animation-delay: 1s;
}
#main_us_highway_title_image{
    width: 50vw;
    height: 60vh;
    margin-left: auto;
    margin-right: auto;
}
#numbering_system_us_highway_container{
    flex-direction: row-reverse;
    text-wrap: wrap;
}
#signage_us_highway_container{
    text-wrap: wrap;
}
#divided_us_highway_container{
    flex-direction: row-reverse;
    text-wrap: wrap;
}
#history_us_highway_container{
    text-wrap: wrap;
}
#us_highway_signage_history_table, td, th{
    border: 1px solid black;
    border-collapse: collapse;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
div.tablecontainer{
    overflow-x: auto;
    overflow-y: auto;
}
#us_highway_signage_history_table{
    width: 100%;
    height: 100%;
}
td, th{
   width: 20%;
   height: 30%; 
}
#routes_of_america_us_highway_main_content, #numbering_system_us_highway_pictures,
#divided_us_highway_pictures{
    text-wrap: wrap;
}
#first_main_us_highway_sign, #second_main_us_highway_sign,
#US_11E_sign, #US_11W_sign, #us_highway_history_image{
    width: 20vw;
    height: 35vh;
}
#signage_us_highway_sign{
    width: 20vw;
    height: 20vh;
}
#help_button{
    border: 10px solid black;
    margin-left: auto;
    margin-right: auto;
}
#address_box{
    left: 50px;
    top: 100px;
}
#city_box{
    left: 150px;
    top: 100px;
}
#state_box{
    left: 250px;
    top: 100px;
}
#zip_code_box{
    left: 350px;
    top: 100px;
}
#phone_number_box{
    left: 100px;
    top: 250px;
}
#email_box{
    left: 200px;
    top: 250px;
}
.routes_of_america_footer{
    position: fixed;
    margin-top: 30px;
}
#routes_of_america_navbar ul{
    list-style-type: none;
    padding: 10px 0;
}
#routes_of_america_navbar li a{
    color: white;
}
#copyright_link, #web_portfolio_link, #email_link{
    color: black;
}
#routes_of_america_navbar li a:hover,#copyright_link:hover, #web_portfolio_link:hover,
#email_link:hover{
    color: orange;
}
#routes_of_america_navbar li a:visited, #copyright_link:visited, #web_portfolio_link:visited, 
#email_link:visited{
    color: yellow;
}
@media (max-width: 700px){
    #main_page_interstate_highway_container, #main_page_state_route_container,
    #main_page_us_highway_container, #main_page_other_routes_and_highways_container{
        flex-direction: column;
    }
}
@media (max-width: 500px){
    #main_page_interstate_highway_pictures, #main_page_us_highway_pictures, #main_page_state_route_pictures, 
    #main_page_other_routes_and_highways_pictures{
        flex-direction: column;
    }
}
@keyframes bringInTitle{
    0% {transform: translate(1010px, 30px) rotate(0deg);}
    25% {transform: translate(400px, 30px) rotate(0deg);}
    75% {transform: translate(400px, 30px) rotate(-35deg);}
    100% {transform: translate(80px, 80px) rotate(-35deg);}
}